<!-- top.jsp -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>유지보수수정</title>

    <script src="../../../resources/js/common/jquery-1.8.2.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="../../../resources/css/main/modern-business.css" rel="stylesheet">
    <link href="../../../resources/css/font-awesome.min.css" rel="stylesheet">
    <!-- main css-->
    <link href="../../../resources/css/main/main.css" rel="stylesheet">
    <link href="../../../resources/css/main/bootstrap-responsive.min.css" rel="stylesheet">
	
	<style type="text/css">
		#ads-sidebar{
			margin-top: 50px;
			position: absolute;
			right: 0%;
			z-index: 999;
			background: #ccc;
			padding: 4px 0px 4px 4px;
			margin-right: 4px;
			border: solid 1px gray;}
		#c-ads{position: absolute;
			right: 0;
			top: 0px;
			cursor: pointer;
			color: #000;
			border: solid 1px black;
			width: 8px;
			height: 8px;
			display: block;
			line-height: 8px;
		}
		#ads-wrapper{
			position:absolute;
			right:0%;
			z-index:999;
		}
	</style>
</head>
<body>
	<!-- header -->
	<header>
		<!-- navbar-top -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <!-- container -->
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand main-nav-text" href="index">Ksign Technical Assistance Center</a>
	            </div>
	            <!-- /.navheader -->
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            	<!-- navbar-right -->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<!-- SSO고객 이름 --> <a href="#">ooo 님</a>
						</li>
						<li>
							<!-- logout 처리시 SSO세션 초기화 및 메인 페이지로 이동 --> <a href="#">logout</a>
						</li>
						<li>
							<!-- 나에게 해당하는 이슈 알림 --> <a href="#"><span class="glyphicon glyphicon-comment"></span> new <b class="new-count">7</b><span class="caret"></span></a>
						</li>
						<li class="dropdown">
	                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>설정<b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li>
	                                <a href="full-width.html">이슈등록</a>
	                            </li>
	                            <li>
	                                <a href="sidebar.html">내가등록한 이슈</a>
	                            </li>
	                        </ul>
	                    </li>
					</ul>
					<!-- /.navbar-right -->
				</div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	    <!-- /.navbar-top -->
	    <div class="subnavbar">
	  		<div class="subnavbar-inner">
		    <div class="container">
		      <ul class="mainnav">
		        <li class="active"> <a href="#"><span class="glyphicon glyphicon-list-alt"></span><span>공지사항</span></a> </li>
		        <li><a href="services.html"><span class="glyphicon glyphicon-list-alt"></span><span>이슈</span></a> </li>
		        <li class="subnavbar-open-right"> <a href="contact.html"><span class="glyphicon glyphicon-list-alt"></span><span>채널 공지사항</span></a></li>
		        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span><span>채널이슈</span><b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li>
	                                <a href="portfolio-1-col.html">채널 신규 이슈</a>
	                            </li>
	                            <li>
	                                <a href="portfolio-1-col.html">채널 해결 이슈</a>
	                            </li>
	                            <li>
	                                <a href="portfolio-1-col.html">채널 완료 이슈</a>
	                            </li>
	                        </ul></li>
		        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span><span>지식공유</span><span class="caret"></span></a>
	                        <ul class="dropdown-menu">
	                            <li>
	                                <a href="blog-home-1.html">제품개선사항</a>
	                            </li>
	                            <li>
	                                <a href="blog-home-2.html">버전자료실</a>
	                            </li>
	                        </ul></li>
		        <li class="dropdown subnavbar-open-right">
						        <a class="dropdown-toggle" data-toggle="dropdown">
						        	<span class="glyphicon glyphicon-list-alt"></span>
						        	<span>설정</span>
						        	<b class="caret"></b>
						        </a>
		                        <ul class="dropdown-menu">
	                            <li>
	                                <a href="full-width.html">이슈등록</a>
	                            </li>
	                            <li>
	                                <a href="sidebar.html">내가등록한 이슈</a>
	                            </li>
	                        </ul>
		        </li>
		      </ul>
		    </div>
		    <!-- /container --> 
		  </div>
		</div>
		  <!-- /subnavbar-inner --> 
	
	</header>
	<!-- /.header  -->
<!-- ./top.jsp -->











	<!-- maintenanceUpdate css-->
    <link href="../../../resources/css/project/maintenanceUpdate.css" rel="stylesheet">
    
    
    <div class="main">
		<div class="main-inner">
			<div class="container">
				<div class="panel maintenanceUpdate-container">
					<div class="select-project center-block">
						<form class="form-horizontal">
						  <div class="form-group">
						    <label class="col-sm-2 control-label">프로젝트명 : </label>
						    <div class="col-sm-10">
						      <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
						    </div>
						  </div>
						</form>
					</div>
					<div class="customer-info center-block panel panel-default">
						<div class="row row-title"">
							<span class="list-title">고객정보</span>
							<button type="button" class="btn btn-default update-button">수정</button>
						</div>
						<div class="row">
							<div class="customer-info-div center-block">
								<div class="col-xs-6 col-sm-3">사이트명 :</div>
								<div class="col-xs-6 col-sm-3">특허청</div>
								<div class="col-xs-6 col-sm-3">제품명 :</div>
								<div class="col-xs-6 col-sm-3">EDMS</div>
							</div>
							<div class="customer-info-div center-block">
								<div class="col-xs-6 col-sm-3">사이트명 :</div>
								<div class="col-xs-6 col-sm-3">특허청</div>
								<div class="col-xs-6 col-sm-3">제품명 :</div>
								<div class="col-xs-6 col-sm-3">EDMS</div>
							</div>
							<div class="customer-info-div center-block">
								<div class="col-xs-6 col-sm-3">사이트명 :</div>
								<div class="col-xs-6 col-sm-3">특허청</div>
								<div class="col-xs-6 col-sm-3">제품명 :</div>
								<div class="col-xs-6 col-sm-3">EDMS</div>
							</div>
							<div class="customer-info-div center-block">
								<div class="col-xs-6 col-sm-3">사이트명 :</div>
								<div class="col-xs-6 col-sm-3">특허청</div>
								<div class="col-xs-6 col-sm-3">제품명 :</div>
								<div class="col-xs-6 col-sm-3">EDMS</div>
							</div>
						</div>
					</div>
					<div class="project-info-list center-block panel panel-default">
						<div class="row row-title">
							<span class="list-title">제품정보 환련 리스트</span>
							<button type="button" class="btn btn-default update-button">수정</button>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
							    	<td>Jill</td>
							    	<td>Smith</td> 
							    	<td>50</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson</td> 
								    <td>94</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson</td> 
								    <td>94</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson</td> 
								    <td>94</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson</td> 
								    <td>94</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="project-issue-list center-block  panel panel-default">
						<div class="row row-title">
							<span class="list-title">프로젝트 이슈사항 리스트</span>
							<button type="button" class="btn btn-default update-button">수정</button>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered">
								<tr>
							    	<td>Jill</td>
							    	<td>Smith</td> 
							    	<td>50</td>
							    	<td>Jill</td>
							    	<td>Smith</td> 
							    	<td>50</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								    <td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								    <td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								    <td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								</tr>
								<tr>
									<td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								    <td>Eve</td>
								    <td>Jackson Jackson Jackson</td> 
								    <td>94</td>
								</tr>
							</table>
						</div>
					</div>
					<div></div>
				</div>
			</div>
		</div>
	</div>























<!-- footer.jsp  -->
<div class="extra">

	<div class="extra-inner">

		<div class="container">

			<div class="row">
                    <div class="span3">
                        <h4>About Free Admin Template</h4>
                        <ul>
                            <li><a href="javascript:;">EGrappler.com</a></li>
                            <li><a href="javascript:;">Web Development Resources</a></li>
                            <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>
                            <li><a href="javascript:;">Free Resources and Scripts</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="javascript:;">Frequently Asked Questions</a></li>
                            <li><a href="javascript:;">Ask a Question</a></li>
                            <li><a href="javascript:;">Video Tutorial</a></li>
                            <li><a href="javascript:;">Feedback</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>Something Legal</h4>
                        <ul>
                            <li><a href="javascript:;">Read License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>Open Source jQuery Plugins</h4>
                        <ul>
                            <li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>
                            <li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>
                            <li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>
                            <li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div> <!-- /row -->

		</div> <!-- /container -->

	</div> <!-- /extra-inner -->

</div>
<div class="footer">
	 <div class="footer-inner">
	 	<div class="container">
		 	<div class="span12">
			 	<div class="row">
				  <div class="col-xs-6 col-sm-4"></div>
				  <div class="col-xs-6 col-sm-4">
						<a href="index" style="text-align: center; color: white;">Copyright Â© 2014 Ksign All rights reserved </a>
				  </div>
				  <div class="col-xs-6 col-sm-4"></div>
				</div>
		 	</div>
		 	<!-- /.span12 -->
	 	</div>
	 	<!-- /.container -->
	 </div>
	 <!-- /.footer-inner -->
	 </div>
	 <!-- /.footer -->
</body>
<!-- jQuery -->
<script src="resources/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="resources/js/bootstrap.min.js"></script>
    
</html>
<!-- ./footer.jsp  -->